.features-section {
    padding: 3rem 1rem;
    text-align: center;
    background-color: #fff;
}

.features-header small {
    display: inline-block;
    padding: 0.25rem 0.9rem;
    background-color: #f0f4ff;
    color: #3b82f6;
    font-weight: 500;
    border-radius: 999px;
    font-size: 0.75rem;
    margin-bottom: 0.8rem;
}

.features-header h2 {
    font-size: 1.8rem;
    margin: 0.6rem 0;
    color: #111827;
}

.features-header p {
    max-width: 600px;
    margin: 0 auto 3rem;
    color: #6b7280;
    font-size: 0.95rem;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.4rem 1.2rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

.feature-item {
    padding: 0.3rem 0.5rem;
    
}

.feature-item img {
    width: 44px;
    margin-bottom: 0.5rem;
}

.feature-item h4 {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
    color: #111827;
}

.feature-item p {
    font-size: 0.88rem;
    color: #6b7280;
    margin: 0;
}

@media (max-width: 992px) {
    .features-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media (max-width: 600px) {
    .features-grid {
        grid-template-columns: 1fr;
        gap: 1.2rem;
        padding: 0;
    }

    .features-header h2 {
        font-size: 2rem;
        padding: 1.2rem 0;
    }

    .feature-item img {
        width: 36px;
        margin-bottom: 0.4rem;
    }

    .feature-item h4 {
        font-size: 0.95rem;
    }

    .feature-item p {
        font-size: 0.85rem;
    }
}