.faq-section {
    background: #fdfdfd;
    padding-bottom: 5rem;
}

.faq-container {
    max-width: 800px;
    margin: auto;
    border-radius: 12px;
    padding: 5rem 2rem;

}

.label {
    display: inline-block;
    padding: 0.25rem 0.9rem;
    background-color: #f0f4ff;
    color: #3b82f6;
    font-weight: 500;
    border-radius: 999px;
    font-size: 0.75rem;
    margin-bottom: 0.8rem;
}

.faq-header {
    text-align: center;
    margin-bottom: 4rem;
}

.faq-header h2 {
    font-size: 1.8rem;
    margin: 0.5rem 0;
}

.faq-header p {
    color: #777;
}

.faq-item {
    border-top: 1px solid #eee;
    padding: 1rem 0;
    cursor: pointer;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    font-size: .9rem;
    transition: max-height 0.3s ease;
    color: #757575;
    padding-right: 2rem;
}

.faq-item.active .faq-answer {
    max-height: 100px;
    margin-top: 0.5rem;
}

.arrow {
    transition: transform 0.3s ease;
}

.faq-item.active .arrow {
    transform: rotate(180deg);
}

.faq-container {
    padding: 0rem 1rem;
}