.testimonial-container {
    max-width: 1200px;
    margin: auto;
    padding: 01rem 5rem;
    background: #f9fafe;
    text-align: center;
}

.label {
    display: inline-block;
    padding: 0.25rem 0.9rem;
    background-color: #f0f4ff;
    color: #3b82f6;
    font-weight: 500;
    border-radius: 999px;
    font-size: 0.75rem;
    margin-bottom: 0.8rem;
}

.testimonials h2 {
    font-size: 1.8rem;
    margin-top: 0.5rem;
}

.subtext {
    color: #888;
    font-size: 0.95rem;
    margin-bottom: 2rem;
}

.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 2rem;
}

.card {
    border: 1px solid rgba(0, 0, 0, 0.06);
    border-radius: 1rem;
    padding: 1rem;
    text-align: left;
}

.stars {
    color: gold;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    padding: .1rem;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 0.75rem;
}

.profile p {
    margin: 0;
    font-size: 0.85rem;
    color: #666;
}


.view-more-btn {
    display: block;
    /* Makes margin: auto work */
    margin: 1.5rem auto 0 auto;
    /* Top margin + centered horizontally */
    padding: 0.5rem 1.5rem;
    background-color: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}


.view-more-btn:hover {
    background-color: #2563eb;
}



@media (max-width: 600px) {
    .testimonials-container {
        padding: 1rem;
    }

    .testimonial-grid {
        grid-template-columns: repeat(1, 1fr);

    }

    .testimonial-container {

        padding: 1rem 1rem;

    }

    .view-more-btn {
        display: block;
        width: 100%;
        margin: 1.5rem auto 0 auto;
        padding: 0.5rem 1.5rem;
        background-color: #4911f3;
        color: #fff;
        border: none;
        border-radius: 0.8rem;
        cursor: pointer;
    }
}


@media (min-width: 768px) {
    .testimonial-grid {
        grid-template-columns: repeat(3, 1fr);

    }



    .view-more-btn:hover {
        background-color: #2563eb;
    }


}


@media (min-width: 1024px) {
    .testimonial-grid {
        grid-template-columns: repeat(3, 1fr);

    }
}