.download-section {
    background: #e2eafd;
    margin: auto;
}

.download-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 5rem;
    gap: 6rem;
    flex-wrap: wrap;
}


.content {
    max-width: 40%;
}

.content h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: #1e1e2f;
    line-height: 1.2;
    margin-bottom: 20px;
}


.content p {
    font-size: 16px;
    color: #6c6c6c;
    line-height: 1.8;
    margin-bottom: 32px;
}

.buttons {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    font-size: 14px;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s ease;
}

.btn-outline {
    border: 2px solid #6c63ff;
    color: #6c63ff;
    background-color: transparent;
}

.btn-filled {
    background-color: #6c63ff;
    color: white;
    border: none;
}


.mockups {
    position: relative;
    width: 45%;
    height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    position: absolute;
    width: 300px;
    border-radius: 40px;
}

.back {
    top: 40px;
    left: -20px;
    z-index: 1;
}

.front {
    top: -80px;
    right: -50px;
    z-index: 2;
}



@media (max-width: 768px) {
    .download-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px 0;
        padding: 5px 10px;
        text-align: center;
    }

    .content {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .mockups {
        position: relative;
        width: 100%;
        height: auto;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .phone {
        position: relative;
        width: 50%;
        border-radius: 30px;
    }

    .back,
    .front {
        top: -10px;
        left: 0;
        right: 0;
        z-index: auto;
    }

    .content h1 {
        font-size: 2rem;
        font-weight: 700;
        text-align: left;
      
    }
    .content p {
        
        text-align: left;
      
    }
}