.company-section {
    padding: 3rem 1rem;
    background-color: #F8FAFC;
}

.company-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1100px;
    margin: 0 auto;
    padding: 2rem;
}

.company-container img {
    max-height: 96px;
    max-width: 144px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.company-container img:hover {
    transform: scale(1.05);
}

/* Tablet styles */
@media (max-width: 768px) {
    .company-container {
        gap: 1.5rem;
    }

    .company-container img {
        max-height: 40px;
    }
}


@media (max-width: 480px) {
    .company-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.75rem;
        justify-items: center;
        padding: 1rem 0;

    }

    .company-container img {
        max-height: 45px;
        max-width: 96px;
        width: 100%;
    }
}